.border-1 {
    
    font-size: 24px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

    
}
.border-2 {
    
    font-size: 18px;
    font-weight: normal;    
}